.progress-container {
  width: 100%;
  background-color: #752a2a;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
}

.progress-bar {
  height: 4px;
  background: linear-gradient(to right, #16b563, #ffe600, rgb(185, 9, 147));
}
